<!-- 회원 찾기 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css/common.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/member.css')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/member.js')}}"></script>
</head>
<body>

    <!-- 중복코드 / header.nav  -->
    <article id="id_find_wrap">

        <div class="id_find_form">
            <form action="/member/id_find_confirm" method="post" name="id_find_form">
                <input class="" type="text" name="mName" placeholder="성함">
                <br>
                <input class="" type="email" name="mMail" placeholder="이메일">
                <input type="button" placeholder="인증번호 받기" onclick="sendOtp()">
                <br>
                <input class="" type="text" name="otp" placeholder="인증번호입력">
                <div id="timer">03:00</div>
                <input type="button" placeholder="인증번호 인증" onclick="checkOtp()">
                <br>
                <input class="" type="text" name="mPhone" placeholder="전화번호">
                <br>
                <input class="" type="button" value="id찾기">
                <input class="" type="reset" value="초기화">
            </form>
        </div>

    </article>

    <!-- 중복코드 footer  -->

</body>
</html>