<!-- 로그인 html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css링크')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css링크')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/member.js')}}"></script>
</head>
<body>

    <!-- 중복코드 / header.nav  -->

    <article id="signin_wrap">


        {% if result == 'LOGIN_FAILED' %}
            <script>
                alert('로그인 실패:아이디 또는 비밀번호 다시 확인해주세요.')
            </script>
        {% endif %}

        {% if result == 'PENDING' %}
            <script>
                alert('미승인 계정입니다. 관리자에게 문의 해주세요.')
            </script>
        {% endif %}

        <div class="signin_form">
            <form action="/member/signin_confirm" method="post" name="signin_form">
                <input class="" type="text" name="mId" placeholder="아이디">
                <br>
                <input class="" type="password" name="mPw" placeholder="비밀번호">
                <br>
                <input class="" type="button" value="로그인" onclick="signinForm();">
            </form>
        </div>

    </article>

    <!-- 중복코드 footer  -->

</body>
</html>