<!-- 회원가입 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css/common.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/member.css')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/member/member.js')}}"></script>
</head>
<body>

    <!-- 중복코드 / header.nav  -->

    <article id="signup_wrap">

        <div class="signup_form">
            <form action="/member/signup_confirm" method="post" name="signup_form">
                <input class="" type="text" name="mId" placeholder="아이디">
                <br>
                <input class="" type="text" name="mName" placeholder="성함">
                <br>
                <input class="" type="password" name="mPw" placeholder="비밀번호">
                <br>
                <input class="" type="email" name="mMail" placeholder="이메일">
                <br>
                <input class="" type="text" name="mPhone" placeholder="전화번호">
                <br>
                <input class="" type="button" value="회원가입" onclick="signupForm();">
                <input class="" type="reset" value="초기화">
                
            </form>
        </div>

    </article>

    <!-- 중복코드 footer  -->

</body>
</html>