<!-- 관리자 권한 승인 -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css링크')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css링크')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/admin/admin.js')}}"></script>
</head>
<body>

    {% include 'include/header.html' %}
    {% include 'include/nav.html' %}

    {% if session['role'] == 'admin' %}

    <article id="admin_wrap">

        <div class="pending">
            {% for mId in members %}
            {% if members[mId]['isApproved'] == False %}
            <input class="" type="button" value="승인">
            <input class="" type="button" value="미승인">
            <br>
            {{ mId }} / {{ members[mId]['mName'] }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="employee_list">
            {% for mId in members %}
            {% if members[mId]['isApproved'] == True %}
            <select class="">
                <option>관리자</option>
                <option>직원</option>
            </select>
            <input class="" type="button" value="회원삭제" onclick="deleteMember('{{ mId }}')">
            {{ mId }} / {{ members[mId]['mName'] }}
            {% endif %}
            {% endfor %}
        </div>

    </article>

    {% include 'include/footer.html' %}

</body>
</html>