<!-- 홈 화면 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css/common.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">

</head>
<body>

    <!-- 중복코드 / header.nav -->
    
    <article>
        <div class="athta_home">
            <!-- 메인 화면 작업-->
        </div>
    </article>
    
    <!-- 중복코드 footer  -->

    <!-- 회원가입이후 alert창 띄우는 작업 -->
    <script>
        let signupResult = "{{ result }}";

        function checkSignupResult() {
            if (signupResult === 'ok') {
            alert('회원가입을 축하들립니다!! 관리자가 승인을 할때까지 기다려 주세요! ');
        }
    }
        
        checkSignupResult()
    </script>

    <!-- 로그인 하지 않고 이용할시 -->
    {% if result != 'ok' %}
        <p>로그인 후 이용 부탁드립니다.</p>
    
    {% endif %}


</body>
</html>